.env
prometheus.yml
/docker-secrets/*
/persistent-data/mysql/*
/persistent-data/mongodb/*
/persistent-data/portainer/*
/persistent-data/registry/credential/*
/persistent-data/registry/data/*
/persistent-data/pg-admin/*
/persistent-data/redis/*
/persistent-data/redis-insight/*
/persistent-data/mssql/*
/persistent-data/postfix/opendkim-keys/*

# Running docker compose files
docker-compose-running-*.yaml
PROD-docker-compose-*.yaml
PROD-*.sh