.env
prometheus.yml
/docker-secrets/*
/persistent-data/mysql/*
/persistent-data/mongodb/*
/persistent-data/portainer/*
/persistent-data/registry/credential/*
/persistent-data/registry/data/*
/persistent-data/pg-admin/*
