.env
prometheus.yml
/docker-secrets/*
/persistent-data/mysql/*
/persistent-data/mongodb/*
/persistent-data/portainer/*
/persistent-data/registry/credential/*
/persistent-data/registry/data/*
/persistent-data/pg-admin/*
/persistent-data/redis/*
/persistent-data/redis-insight/*
/persistent-data/mssql/*
/persistent-data/postfix/opendkim-keys/*
/persistent-data/postgres/*
/persistent-data/mssql-2017/*
/persistent-data/postgres-vector/*

# Running docker compose files
docker-compose-running-*.yaml
PROD-docker-compose-*.yaml
PROD-*.sh

# Mailu
mailu/

# MySQL
my.cnf
note

# Security
wireguard/data/*
fail2ban/config/*
jail.local

# Traefik: Still RnD
# traefik/*
postgres_password.txt
